<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:url" content="http://www.webdcode.com/" />
  <meta property="og:type" content="website" />
  <meta name="description" content="this is for the learing puspose" />
  <meta property="og:title" content="Testing my skills" />
  <meta property="og:description" content="this is for the learing puspose" />
  <link rel="icon" href="/img/favicon.png" sizes="16x16" type="image/png" />
  <title>
    <%=title%>
  </title>
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/layout.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <%- style%>
    <script>
      !function () {
        var analytics = window.analytics = window.analytics || []; if (!analytics.initialize) if (analytics.invoked) window.console && console.error && console.error("Segment snippet included twice."); else {
          analytics.invoked = !0; analytics.methods = ["trackSubmit", "trackClick", "trackLink", "trackForm", "pageview", "identify", "reset", "group", "track", "ready", "alias", "debug", "page", "once", "off", "on", "addSourceMiddleware", "addIntegrationMiddleware", "setAnonymousId", "addDestinationMiddleware"]; analytics.factory = function (e) { return function () { var t = Array.prototype.slice.call(arguments); t.unshift(e); analytics.push(t); return analytics } }; for (var e = 0; e < analytics.methods.length; e++) { var key = analytics.methods[e]; analytics[key] = analytics.factory(key) } analytics.load = function (key, e) { var t = document.createElement("script"); t.type = "text/javascript"; t.async = !0; t.src = "https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js"; var n = document.getElementsByTagName("script")[0]; n.parentNode.insertBefore(t, n); analytics._loadOptions = e }; analytics._writeKey = "3lhqPNLCyDBUDG8GjY802ZIGlDfZs6fR"; analytics.SNIPPET_VERSION = "4.13.2";
          analytics.load("3lhqPNLCyDBUDG8GjY802ZIGlDfZs6fR");
          analytics.page();
        }
      }();
    </script>
</head>

<body>
  <%if(locals.user){%>
    <%- include('_header');%>
      <%}%>
        <main id="layout-main">
          <%-body%>
        </main>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <script src="/js/bundle.js"></script>
        <%- script%>
</body>

</html>